/* hi */

.hidden {
	display: none;
}

body {
	background-color: lightskyblue;
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
	max-width: 80ch;
	padding: 0 1.5rem;
}

#career {
	/*put a box around the career title */
	text-align: center;
	border-style: solid;
	border-width: medium;
	border-radius: 5px;
	background-color: #aaa;
}

.experience-box {
	border-style: solid;
	border-width: small;
	border-radius: 5px;
	background-color: #aaa;
	padding: 1.5rem;
	margin-top: 2rem;
}

.experience-title {
	margin: 0 0 0.5rem;
}

#under-title {
	margin-top: 0px;
}

.experience-position {
	/*nothing*/
}

.experience-description {
	margin: 6px 0 0 -24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #aaa;

}
#mnuTog ~ nav {
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
}
#mnuTog:checked ~ nav {
    max-height: 3em;
    transition: all 2s;
}

nav li {
    /* display: inline-flex; */
    float: left;

}

nav a {
	background-color: #ccc;
	color: #111;
	/* no underline*/
	text-decoration: none;
	padding: 8px;
	text-align: center;
	/*block container like <p> inside inline container of li*/
	display: block;
}

nav a:hover {
	/*white button color */
	background-color: #fff;
	/*text color*/
	color: #333;
}

button {
	margin: 20px;
	margin-left: 0px;
	margin-bottom: 5px;
}

#message {
	opacity:0;
	transition:all 2s;
}